* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    position: relative;
    color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: color 2.5s; 
    background: rgba(189, 8, 8, 0.33);
}

header li{
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

header a:hover{
    color: rgb(175, 7, 7);
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.toggle_btn:hover {
    scale: .05;
    color: var(--bg-color);
}

.action_btn {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
} 

footer{
    background-color: var(--bg-color);
    text-align: center;
    padding: 10px;
}

footer p {
    color: white;
}

footer p a {
    color: white;
}

footer a:hover {
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    background: rgba(251, 250, 250, 0.554);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    margin-left: -2.5rem;
    box-shadow: 0 0 20px rgb(175, 7, 7);
}

.dropdown:hover .dropdown-content {
    display: block;
    color: rgb(175, 7, 7);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    scale: 1.2;
}



@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}

html {
    background-color: black;
    scroll-behavior: smooth;
}


.input__container {
    position: relative;
    background: rgba(255, 255, 255, 0.664);
    padding: 5px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    max-width: 3500px;
    transition: transform 400ms;
    transform-style: preserve-3d;
    perspective: 800px;
  }
  
  .shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(30px);
    border-radius: 20px;
    background-color: #999cff;
    background-image: radial-gradient(at 85% 51%, hsla(60,60%,61%,1) 0px, transparent 50%),
      radial-gradient(at 74% 68%, hsla(235,69%,77%,1) 0px, transparent 50%),
      radial-gradient(at 64% 79%, hsla(284,72%,73%,1) 0px, transparent 50%),
      radial-gradient(at 75% 16%, hsla(283,60%,72%,1) 0px, transparent 50%),
      radial-gradient(at 90% 65%, hsla(153,70%,64%,1) 0px, transparent 50%),
      radial-gradient(at 91% 83%, hsla(283,74%,69%,1) 0px, transparent 50%),
      radial-gradient(at 72% 91%, hsla(213,75%,75%,1) 0px, transparent 50%);
  }
  
  .input__button__shadow {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
  }
  
  .input__button__shadow:hover {
    background: rgba(255, 255, 255, 0.411);
  }
  
  .input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 5px 20px;
    position: relative;
    text-align: center;
  }

:root {
    --text-color: white;
    --sec-text-color: black;
    --third-text-color: orange;
    --bg-color: rgb(175, 7, 7);
}

span {
    color: var(--bg-color);
}


section {
    min-width: 100vh;
    padding: 10rem 9% 2rem;
}

.login {
    font-size: 24px;
    text-decoration: none;
}

section#login { 
    align-items: center;
    text-align: center;
    padding: 0 9%;
    justify-content: center;
    height: 100vh;

}

.content {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8rem;
}

.content h1 {
    color: white;
    font-size: 3rem;
}

.form_content {
    margin-top: 3rem;
}

.form_content .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    margin-left: 25.5rem;
    margin-bottom: 3.6rem;
    box-shadow: 0 0 15em rgba(0, 0, 0, 0.781);
}
  
.title {
    font-size: 28px;
    color: var(--bg-color);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
  
.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--bg-color);
}
  
.title::before {
    width: 18px;
    height: 18px;
    background-color: var(--bg-color);
}
  
.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
  
.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}
  
.signin {
    text-align: center;
}
  
.signin a {
    color: var(--bg-color);
}
  
.signin a:hover {
    text-decoration: underline var(--bg-color);
}
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
  
.form label {
    position: relative;
}
  
.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
  
.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input:valid + span {
    color: var(--bg-color);
}
  
.submit {
    border: none;
    outline: none;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}
  
.submit:hover {
    background-color: black;
}

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }